.od-a {
  background: rgb(233, 233, 233);
  width: 70%;
  margin-bottom: 1vw;
  padding-left: 2vw;
  margin-left: 2vw;
  padding-top: 0.5vw;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vw;
}

.o-img {
  width: 6vw;
  height: 8vw;
  object-fit: contain;
}

.a-o {
  width: 100%;
  height: 100%;
}

.or-1 {
    display: flex;
}

.or-2 {
    margin-left: 0.7vw;
    padding-top: 0.4vw;
}

.or-3 {
    margin-top: 4vw;
}

.or-4 {
    margin-top: 1vw;
    margin-left: 6.5vw;
}

.or-5 {
    margin-top: 1.5vw;
    margin-left: 6.5vw;
    padding-bottom: 0.5vw;
}

.or-6 {
    font-size: 0.9vw;
}

.or-7 {
    padding-right: 2vw;
}